body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden
}

#app {
  --width: 30%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0
}

#fileListTree {
  width: var(--width);
  height: 100%;
  background-color: #8C8181;
  position: relative;
  overflow: scroll;
  display: flex
}

.scrollBar {
  width: 5px;
  height: 100%;
  background-color: #6B6767;
  position: absolute;
  top: 0;
  right: 0
}

.edit {
  position: fixed;
  display: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - var(--width));
  background-color: #37362C;
  --input-color: #878479
}

.edits {
  position: fixed;
  top: 10%;
  width: 100%;
  height: 80%;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border-color: var(--input-color)
}

.editInput {
  z-index: 1;
  caret-color: green;
  background-color: var(--input-color);
  color: black;
  position: absolute
}

.highlight {
  position: absolute;
  z-index: 2;
  pointer-events: none
}

.editInput,.highlight {
  font-family: 'Monaco','Consolas','Courier New',monospace;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
  overflow: auto
}

/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

.hljs {
  background: #f3f3f3;
  color: #444
}

.hljs-comment {
  color: #697070
}

.hljs-punctuation,.hljs-tag {
  color: #444a
}

.hljs-tag .hljs-attr,.hljs-tag .hljs-name {
  color: #444
}

.hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag {
  font-weight: 700
}

.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type {
  color: #800
}

.hljs-section,.hljs-title {
  color: #800;
  font-weight: 700
}

.hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable {
  color: #ab5656
}

.hljs-literal {
  color: #695
}

.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code {
  color: #397300
}

.hljs-meta {
  color: #1f7199
}

.hljs-meta .hljs-string {
  color: #38a
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}